@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", monospace;
  font-size: 2.5rem;
}

body {
  min-height: 100vh;
  background-color: #000;
  color: whitesmoke;
  display: grid;
  place-content: center;
  padding: 1rem;
}
